<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="AuthType=AD; Url=http://ld-crm16-gafi.cloudapp.net/GAFI1; Domain=ldcrm16; Username=crmadmin; Password=linkP@ss" />-->
    <add key="ConnectionString" value="AuthType=AD; Url=http://192.168.137.229/GenericSolution; Domain=YAGASOFT1; Username=administrator; Password=a" />
    <add key="SolutionNames" value="CrmLogger,AutoNumbering" />
    <add key="OutputPath" value="C:\Backups\Solutions" />
    <add key="OutputFilename" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
